//IMPORTS
@import "compass/css3";
@import "ceaser-easing";
@import "rgbapng";

$experimental-support-for-svg: true;

$bg-color: #fff;
$main-border: #113056;
$input-border: #999;

%border-box {
	@include box-sizing(border-box);
}

#terabyte-url {
	@extend %border-box;
	@include box-shadow((0px 1px 15px 1px rgba(0, 0, 0, 0.4),
                         0px 9px 15px 5px rgba(0, 0, 0, 0.1)));
	display: none;
	position: absolute !important;
    z-index: 9999 !important;
    top: 15px !important;
    right: 15px !important;
	width: 210px !important;
    padding: 20px !important;
    border: 2px solid $main-border !important;
    background: $bg-color !important;
    fieldset {
    	padding: 0 !important;  
		border: none !important;  
    }
	legend {
		display:none !important;
	}	
    label {
		display: none !important;                                   
    }
	input {
		@extend %border-box;
		@include border-radius(2px);
		@include box-shadow((inset 2px 2px 10px 1px #ccc));
		display: block !important;
		width: 166px !important;
		margin: 0 0 15px 0 !important;
		padding: 8px 15px !important;
		border: 1px solid $input-border !important;
		color: #333 !important;
	}
	.btn {
		@extend %border-box;
		@include border-radius(5px);
		@include background-with-css2-fallback(linear-gradient(top, #1e5799 0%, #103454 100%));
		@include filter-gradient(#1e5799, #103454);
		display: inline-block !important;
		width: 78px !important;
		padding: 10px 20px !important;
		margin-left: 10px !important;
		color: white !important;
		font-family: Arial, Verdana, sans-serif !important;
		font-size: 13px !important;
		line-height: 13px !important;
		cursor: pointer !important;	 
		text-align: center !important;
		&:first-child {
			margin-left: 0 !important;
		};
	}

	.btn-wide {
		display: block !important;
		width: 100% !important;
		margin: 10px 0 0 !important;
	}

	.close {
		@include border-radius(15px);
		@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.5));
		display: block !important;
		position: absolute !important;
		top: -15px !important;
		left: -15px !important;
		width: 22px !important;
		height: 22px !important;
		vertical-align: bottom !important;
		background: black !important;
		border: 4px solid white !important;
		color: white !important;
		font-family: Arial, verdana, sans-serif !important;
		font-size: 18px !important;
		text-align: center !important;
		cursor: pointer !important;
		&:hover {
			background-color: #1e5799;
		};
	}
}